:root {
	--dark: #262626;
	--light: #fdfffc;
	--primary: #c41e3d;

	--font-size-title: 4rem;
	--font-size-nav-link: 1.6rem;

	--margin-top: 80px;
	--margin-md: 6px;
	--margin-xl: 48px;

	--nav-link-spacing: 16px;
}

@media only screen and (max-width: 850px) {
	:root {
		--margin-top: 30px;
	}
}

body {
	margin: 0;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li {
	color: var(--dark);
	font-family: 'Helvetica';
	padding: 0;
	margin: 0;
}

p,
li {
	font-size: 1.2rem;
	padding: 10px 0;
	font-weight: 400;
	line-height: 125%;
}

.page__title {
	font-size: 1.8rem;
	padding-bottom: 1.8rem;
}

hr {
	border-width: 0.7px;
	border-color: #eee;
}
